.header-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #253338;
  padding: 10px;
  justify-content: space-between;
}

.header-container .MuiInputBase-root {
  background-color: #253338;
  color: rgb(192, 191, 191);
  height: 40px;
  width: 300px;
}

.header-container .MuiInput-underline:hover {
  border-bottom: 2px solid #fff;
}

.ReactModal__Content--after-open {
  width: 400px;
  margin: auto;
  top: 10% !important;
  height: fit-content;
}
.MuiAppBar-colorDefault {
  background-color: white !important;
}
.MuiPaper-elevation4 {
  box-shadow: none !important;
}
.avatar-menu .MuiButton-root {
  color: grey;
}