.CardStyle{
    width: 400px;
    text-align: left;
    display: flex;
    flex-direction: column;
}


.rightDetails{
width: 20%
}

.container {
    display: flex;
}

.flex-containerDetails {
    width: 75%
}

.statusBar{
    width: fit-content;
}

.stop {
    border-radius:25px;
    background-color: red;
    border: 3px solid red;
}

:-webkit-scrollbar {
    width: 4px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 4px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: grey;
  }

  .CheckBox{
    display: flex;
    justify-content: space-around;
  }